@using CSharpWebApp.Models
@using MySql.Data.MySqlClient
@model UScheduleRequest
@{
    ViewData["Title"] = "Information";
    List<string> iqpArr = new() { "On-Campus", "Off-Campus"};
    List<string> bsmsArr = new() { "BS", "MS", "BS/MS" };
    List<int> yearArr = new() { 2023, 2024, 2025, 2026, 2027 };
}

@functions {
    public Dictionary<string, string> HumanitiesList()
    {
        Dictionary<string, string> retList = new();
        using (MySqlConnection con = new("server=localhost,3306;database=advising;user=root;password=password;"))
        {
            using MySqlCommand cmd = new("SELECT * FROM humanities");
            cmd.Connection = con;
            con.Open();
            using (MySqlDataReader sdr = cmd.ExecuteReader())
            {
                while (sdr.Read())
                {
                    retList.Add(sdr["studyarea"].ToString(), sdr["longname"].ToString());
                }
            }
            con.Close();
        }
        return retList;
    }
    public Dictionary<string, string> GetAreas()
    {
        Dictionary<string, string> retList = new();
        using (MySqlConnection con = new("server=localhost,3306;database=advising;user=root;password=password;"))
        {
            using MySqlCommand cmd = new("SELECT * FROM studyarea");
            cmd.Connection = con;
            con.Open();
            using (MySqlDataReader sdr = cmd.ExecuteReader())
            {
                while (sdr.Read())
                {
                    retList.Add(sdr["studyarea"].ToString(), sdr["longname"].ToString());
                }
            }
            con.Close();
        }
        return retList;
    }
}

<script src="../js/utils.js" language="javascript" type="text/javascript"></script>
<head>
    <link rel="stylesheet" href="~/css/undergrad.css" asp-append-version="true" />
    <link rel="icon" href="./favicon.ico" />
</head>
<body>
    <div class="scheduling">
        <form asp-action="RequestSchedule" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">
                    <strong>Area of Study</strong>
                </label><br />
                <select class="aos" asp-for="aos">
                    @foreach (KeyValuePair<string, string> area in GetAreas())
                    {
                        <option value=@area.Key>@area.Value</option>
                    }
                </select>
                <span asp-validation-for="aos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <strong>Humanities / HUA</strong>
                </label><br />
                <select class="hua" asp-for="hua">
                    @foreach (KeyValuePair<string, string> humanity in HumanitiesList())
                    {
                        <option value=@humanity.Key>@humanity.Value</option>
                    }
                </select>
                <span asp-validation-for="hua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <strong>Student Year</strong>
                </label><br />
                <select class="syear" asp-for="year">
                    @foreach (int year in @yearArr)
                    {
                        <option value=@year>@year</option>
                    }
                </select>
                <span asp-validation-for="year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <strong>Degree Type</strong>
                </label><br />
                <select class="bsms" asp-for="bsms">
                    @foreach (string bsms in @bsmsArr)
                    {
                        <option value=@bsms>@bsms</option>
                    }
                </select>
                <span asp-validation-for="bsms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <strong>IQP Type</strong>
                </label><br />
                <select class="iqp" asp-for="iqp">
                    @foreach (string iqp in @iqpArr)
                    {
                        <option value=@iqp>@iqp</option>
                    }
                </select>
                <span asp-validation-for="iqp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Get Schedule" class="btn bg-primary" />
            </div>
        </form>
    </div>
</body>